# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual Environment
.venv/

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
#db.sqlite3
#*.sqlite3

# Media files
media

# Static files
staticfiles

# Jupyter Notebook
.ipynb_checkpoints

# Pyre type checker
.pyre/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# VS Code
.vscode/
