.unit.vertical {
    flex-direction: column;
}

.staff-payroll-2 {
     background-color: silver; 
}

.staff-payroll-3 {
     background-color: lavender;
}

.staff-payroll-4 {
     background-color: darkseagreen; 
}

.staff-payroll-5 {
     background-color: powderblue;
}

.staff-payroll-6 {
     background-color: peachpuff;
}


@media (max-width: 1600px) {
    .unit {
        flex: 0 1 calc(20% - 20px);
    }
}

@media (max-width: 1200px) {
    .unit {
        flex: 0 1 calc(33.33% - 20px);
    }
}

@media (max-width: 768px) {
    .unit {
        flex: 1 1 100%;
    }
}