{% extends '../base.html' %}

{% block content %}

    <body>
    
    <div>
        <h3>Personel Listesi</h3>
            <div class="unit-container">
                {% for unit, staff in unit_staffs.items %}
                <div class="unit">
                    <h4>{{ unit.name }}</h4>
                    <table>
                        {% for person in staff %}
                        <tr class="staff-payroll-{{ person.payroll.id }}">
                            <td>
                                {{ person.name }} {{ person.surname }}
                                {% if person.title.name != "-" %} / {{person.title.short_name}}{% endif %}
                                <br>
                                ({% if person.duty.all %}{{ person.duty.all|join:", " }}{% endif %})
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                {% endfor %}

    </div>

    </div>

    </body>

{% endblock %}